h1{
    color: yellow;
    background-color: gray;
    text-align: center;
}
p{
    color: grey;
    background-color: yellow;
    text-align: left;
}

ul{
    color: grey;
    background-color: yellow;
    text-align: left;

}
h4{
    color: yellow;
}
h5{
    color: grey;
}


    
h2 {
    color: yellow;
    background-color: grey;
    text-align: left;
    
    }
    
    body {
        /* image to place in background */
        background-image: url("../images/draft.jpg");
        /* How bg image should be repeated */
        /* can be repeat (default), repeat-x, repeat-y, or no-repeat */
        background-repeat: repeat-x;
        background-color: white;
        font-size: 16px;
        /* placement of bg image within element */
        /* value consists of two tokens, can be top, left, right, bottom,
        center, a percentage, or a length value in px, pt, etc */
        background-position: 370px 20px;
        }
    
        
            